/* slides */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/*template flexbox model*/

*{font-family:'Lobster', cursive; }

#header, #menu, #main1, #main2, #main3, #main4,#main5, footer{
    border: 2px solid black;
    background-color: red;
   
}

#menu, #main1, #main2, main5, footer {
    
    justify-content: center;
    
}

#flex_box{
    flex-wrap: wrap;
    flex-direction:column;
     align-items: center;
    flex-wrap: nowrap;
}

#main2, #second,#main5 {
    
    margin-left: 5%;
    margin-right: 5%;
}


#header {
    flex-grow: 1;
    line-height: 10px;
    
}

#main1 {
   flex-grow: 1;
    height: 55px;
    
    
}


#main2 {
    flex-grow: 1;
    line-height: 660px;
    margin-top: 36px;
    
    
}



#second2 {
    flex-grow: 1;
    margin-top: 36px;
    align-self: center;
    margin-left: 5%;

    
}

#main3, #main4 {
    display: inline-flex;
    align-items: center;
    line-height: 400px;
    width: 47%;
    justify-content: center;
    
}



#main5 {
    flex-grow: 1;
    line-height: 0px;
    margin-top: 36px;
}

/*xxx*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




/*xxx*/


#footer{
    flex-grow: 1;
    margin-top: 36px;
    line-height: 40px;
}


/*pictures*/


#header {
    background-image: url("https://github.com/LuckyXII/Projekt-html-grupp5/blob/master/4K_logo_lighter.png?raw=true");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 540px;
    background-color: #A4C468;
    
}

/*#main2 {
 

    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/

/*slider container attributes*/
.slides {
    padding: 0;
	width: 100%;
    height: 340px;
    display: block;
    margin: 0 auto;
    position: relative;
	overflow: hidden;
    z-index: 2;
}
/*reset selects and inputs*/
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }
/*slider animation and attributes*/
.slide {
    top: 0;
    opacity: 0;
	width: 100%;
    height: 340px;
    display: block;
    position: absolute;
	overflow:hidden;
/*perform slide left to right*/	
	transform: translate(100%, 0px);
	-webkit-transform: translate(100%, 0px);
	-moz-transform: translate(100%, 0px);
	-o-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);

/*perform an non-linear animation of slide*/
	-webkit-transition: all .8s cubic-bezier(0.98, 0.01, 0.75, 1);
    -moz-transition: all .8s cubic-bezier(0.98, 0.01, 0.75, 1);
    -o-transition: all .8s cubic-bezier(0.98, 0.01, 0.75, 1);
    transition: all .8s cubic-bezier(0.98, 0.01, 0.75, 1);
}
/*slider image attributes*/
.slide img {
    width: 100%;
    height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
/*slider arrow attributes*/
.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: black;
    font-size: 156pt;
    text-align: center;
    line-height: 340px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }


/*ease in next img*/
input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }
/*slider navigation dots style and attributes*/
.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #E1710D;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: #743700;
}
/*bind dots with right img*/
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background-color: #743700;
}


#main3 {
    background-image: url(http://www.dhresource.com/0x0s/f2-albu-g2-M01-07-B1-rBVaGlZK0CKARQBTAAaiS6aJ5UM346.jpg/2016%20hot%20sale%20Outdoor%20Gear%20Stainless%20Steel%20Hiking%20Mini%20portable%20Camping%20Stoves%20Fire%20jets%20with%201000-1400%20Burning%20Temperature.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main4 {
    background-image: url(http://www.gooutdoors.co.uk/Lib/Img/Promotions/2016/August/department/sale-campingaz--2-series-bbq.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main5 {
    background-color: #9caf74;
}

#footer {
    background-color: #9caf74;
    color: #3b3128;
    
    
}

/*text footer*/

#customer {
    text-align: center;
    flex-direction: row;
    margin-left: 34%
}

/*menu*/

#menulink {
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: #dea335;
    display: flex;
    
    
}

#menulink > li {
    float:left;
    padding-right: 10px;
    padding-left: 10px;

    
    
}

/*buttons*/

button {
    background-color: #dea335;
    color: brown;
    border: none;
    border-radius: 2px;
    padding: 15px 9px;
}

/*drop down manu*/

li a {
    text-decoration:none;
    text-align: center;
    color: brown;
    
    
    
}

li :hover {
    background-color: #9caf74;
}

.dropdowncon {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdowncon a:hover {background-color:#9caf74 }



.dropdowncon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #dea335;
}

#bman:hover .dropdowncon {
    display: block;
}

#bwoman:hover .dropdowncon {
    display: block;
}

#bequipment:hover .dropdowncon {
    display: block;
}

#bactivity:hover .dropdowncon {
    display: block;
}

#bblog:hover .dropdowncon {
    display: block;
}

#bforum:hover .dropdowncon {
    display: block;
}


/*search*/
#search {
    text-align: right;
    
}

#sercl{
    flex-grow: 1;
}

/*header list*/

#hli {
    list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

#hli {
    display: flex;
    flex-grow: 1;
    line-height: 25px;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 50px;  
    
}

#hli >li>:hover{
   
     background-color: #dea335 !important;
}


#hli >li {
    padding: 0px 0px 0px 10px;
}


#bman,#bwoman,#bequipment,#bactivity,#bblog,#bforum {
    z-index: 5;
}

.slides {
    z-index: 1;
}